@import "../../../scss/main";

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background: $color_1;
  box-shadow: 0 5px 5px 3px rgba($color_0,0.25);
  height: 89px;
  padding: 0 26px 0 33px;
  border-radius: 0 3px 3px 0;

  &__description {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 17px;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    margin-bottom: 8px;
    font-size: 18px;
  }
  &__phone {
    color: #ccc;
    position: relative;
    top: -3px;
    font-size: 13px;
  }

  &__checkBox {
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
  }

  &__checkBoxInner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $color_0;
  }

  &__checkBoxChecked{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #9025FC;
    background: linear-gradient(135deg,  #9025FC 0%,#1308FE 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
