@import "../../../scss/main";

.contactsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 29px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: $color_4;
  }
}
