@import "../../../scss/main";

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background: $color_1;
  box-shadow: 0 5px 5px 3px rgba($color_0,0.25);
  padding: 10px;

  &__description {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 20px;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    margin-bottom: 5px;
  }
  &__phone {
    color: #ccc;
  }

  &__checkBox {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }

  &__checkBoxInner {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $color_0;
  }

  &__checkBoxChecked{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #9025FC;
    background: linear-gradient(135deg,  #9025FC 0%,#1308FE 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
