@import "../../../scss/main";

.contactsList {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__alphabet {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 2;
  }

  &__alphabetItem {
    margin: 10px 0;
    width: 30px;
    height: 30px;
    border: none;
    background: none;

    &.active {
      color: $color_2;
    }
  }

  &__list {
    padding-right: 50px;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__listItem {
    margin-bottom: 50px;
  }

}
